NODE_ENV=development

HONEYPOT_SECRET=honeypot-secret
SESSION_SECRET=session-secret
MAGIC_LINK_SECRET=magic-link-secret

RESEND_API_KEY=resend-api-key
FINWAY_EMAIL=finway.team@gmail.app

DB_FILE_NAME=db-file-name
TURSO_AUTH_TOKEN=
